<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>about</title>
	<link rel="icon" href="/pics/cloud.jpg">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	{{>header}}
	<p class="abt-p">Hello {{name}} you are here. </p>
	<img src="/pics/adm .PNG" alt="" width="250px">
	{{>footer}}


</body>
</html>