<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>help</title>
	<link rel="icon" href="/pics/cloud.jpg">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	{{>header}}
	<p class="help-p">{{message}}</p>
	{{>footer}}

</body>
</html>